@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf) format('truetype'),  
    url(fonts/Roboto-Regular.ttf) format("truetype")
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.form-control {
    border-color: #808080;
    background-color: #0d1117;
    color: #DCDCDC;
    border-radius: 6px
}

.form-control:focus {
    border-color: #53a6ff;
    background-color: #0d1117;
    color: #DCDCDC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(200, 0, 0, 0.6);
}

.form-control:disabled {
    background-color: #0d1117;
}

.form-text {
    display: initial;
    color :#c9d1d3;
}

.dropdown-menu {
    background-color: #1a1a27ff;
    color: #DCDCDC;
}

.dropdown-item:hover {
    background-color: #A80000;
    color: #DCDCDC;
}

.dropdown.b-is-autocomplete {
    flex: auto;
}

input {
    border-color: #000000;
}

input:hover {
    border-color: #53a6ff;
}


/*input:focus {
    outline: none;
    border-color: #53a6ff;
    border-left: 1px solid #53a6ff;
    border-top: 1px solid #53a6ff;
    border-bottom: 1px solid #53a6ff;
    box-shadow: 0px 0px 1px #53a6ff;
    -moz-box-shadow: 0px 0px 1px #53a6ff;
    -webkit-box-shadow: 0px 0px 1px #53a6ff;
}*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill{
    -webkit-text-fill-color: #c9d1d3 !important;
}

ul.pagination {
    color: #FFFFFF
}

.page-item.disabled .page-link {
    color: #FFFFFF;
    background-color: #202020;
    border: 0px
}

.page-link {
    background-color: #202020;
    border: 0px
}

.page-link:hover {
    background-color: #1a1a27ff;
}

.table-hover tbody tr:hover {
    color: #DCDCDC;
    background-color: rgba(0, 0, 0, .075);
}
/*.diagnose {
    border-color: #DCDCDC;
    background-color: #fff;
    color: #000;
    box-shadow: inset 0 0px 0px rgba(255, 255, 255, 1), 0 0 0px rgba(255, 255, 255, 1);
}

.diagnose:focus {
    border-color: #DCDCDC;
    background-color: #fff;
    color: #000;
    box-shadow: inset 0 0px 0px rgba(255, 255, 255, 1), 0 0 0px rgba(255, 255, 255, 1);
}

.diagnose:hover {
    border-color: #DCDCDC;
    background-color: #fff;
    color: #000;
    box-shadow: inset 0 0px 0px rgba(255, 255, 255, 1), 0 0 0px rgba(255, 255, 255, 1);
}*/
.mud-card-header {
    border-bottom-color: #f00;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    min-height: 65px;
}

.mud-typography-body1 {
    line-height: unset;
    overflow-wrap: break-word;
}

.mud-typography-body2 {
    line-height: unset;
    overflow-wrap: break-word;
}

.mud-typography-h6 {
    line-height: unset;
    overflow-wrap: break-word;
}