<MudDialog Style="min-width: 400px; min-height: 100px;">
    <DialogContent>
        <MudForm>
            <MudGrid>
                <MudItem xs="12">
                    <MudText Style="font-family:'Roboto'; margin-bottom: 15px">Do you really want to fight user <span style="font-weight: bold;">@UserName</span>? </MudText>
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="@Color" Variant="Variant.Filled" OnClick="Submit">Yes</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] 
    MudDialogInstance? MudDialog { get; set; }
    [Parameter] 
    public Color Color { get; set; }
    [Parameter]
    public Pages.Leaderboard? Page { get; set; }
    [Parameter]
    public int OpponentId { get; set; }
    private string? UserName { get; set; }

    protected override void OnInitialized()
    {
        UserName = Page!.UserLeaderboard.FirstOrDefault(l => l.UserId == OpponentId)!.UserName;
    }

    private async Task Submit()
    {
        await Page!.FightOpponent(OpponentId);
        if(Page.BattleCompleted)
            MudDialog!.Close(DialogResult.Ok(true));
    }

    void Cancel() => MudDialog!.Cancel();
}