@inject IBananaService BananaService

<MudButton  @onclick="IncreaseBananaCount" 
            Size="Size.Small"
            Variant="Variant.Filled" 
            Color="Color.Secondary">
            <span class="oi oi-plus"></span>
</MudButton>

@code {
    public async Task IncreaseBananaCount()
    {
        //await BananaService.AddBananas(10);
        await BananaService.GrpcAddBananas(10);
    }
}
