@page "/army"
@using BlazorGrpcWebApp.Shared.Helpers
@inject IUnitService UnitService
@inject IArmyService ArmyService
@inject IGrpcUserUnitService GrpcUserUnitService
@inject IToastService ToastService
@attribute [Authorize]

<MudGrid>
   <MudItem xs="12">
       <MudCard>
           <MudCardHeader>
                <MudText Typo="Typo.h4">My Army</MudText>
           </MudCardHeader>
           <MudCardContent>
                @if (grpcUnitsResponses.Count > 0)
                {
                    <MudTable Items="@MyUnits" 
                              Hover="true" 
                              RowsPerPage="10" 
                              Dense="true" 
                              SortLabel="Sort By">
                        <HeaderContent>
                            <MudTh></MudTh>
                            <MudTh>Title</MudTh>
                            <MudTh>Hit Points</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Img"><img src=@($"{context.img}")/></MudTd>
                            <MudTd DataLabel="Title">@context.title</MudTd>
                            <MudTd DataLabel="Hit Points">@context.hitPoints</MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager/>
                        </PagerContent>
                    </MudTable>
               }
               else
               {
                    <span>Loading...</span>    
               }   
        </MudCardContent>
        </MudCard>
   </MudItem> 
</MudGrid>