@page "/"

<AuthorizeView>
    <Authorized>
        <MudText Typo="Typo.h3">Hi, @context.User.Identity!.Name. Welcome back!</MudText>
        Let's admire your <a href="army">army</a>.
        <MudText>Three.js</MudText>
    </Authorized>
    <NotAuthorized>
        <MudText Typo="Typo.h3">Welcome to Blazor Battles!</MudText>
    </NotAuthorized>
</AuthorizeView>
