@page "/login"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject ILogoutService LogoutService
@inject IAuthService AuthService
@inject IGrpcUserService GrpcUserService
@inject IToastService ToastService
@inject NavigationManager NavigationManager

 Please log in below or <a href="register">register</a> for a new account.
 
 <Div style="display:flex">
        <EditForm Model=@userLogin OnValidSubmit="HandleLoginGrpc">
            <div>
                <label>Email</label>
                <InputText @bind-Value="userLogin.Email" class="form-control"></InputText>
            </div>
            <div>
                <label>Password</label>
                <InputText @bind-Value="userLogin.Password" class="form-control" type="password"></InputText>
            </div>
            <br />
            <input type="submit" class="btn btn-primary" value="Login">
        </EditForm>
    </Div>       